/* fonts */
@font-face {
    font-family: Roboto-bold;
    src: url(../font/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-italic;
    src: url(../font/Roboto-Italic.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(../font/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Thin;
    src: url(../font/Roboto-Thin.ttf);
}

/* custom styles here */

.countdown-wrapper {
    @apply w-screen h-screen absolute z-30 bg-opacity-100 flex flex-col justify-center items-center bg-blend-screen;
   
    background-image: url(../images/quiz_back.png);
    background-size: cover;
}

.get-ready {
    font-size: 30px;
    font-family: Roboto-Bold;
    color: #D6CDA4;
    text-align: center;
}

.countDown {
    font-size: 150px;
    font-weight: bolder;
    font-family: Roboto-Bold;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    background-color: #252b2700;
    color: #D6CDA4;
    border-radius: 10px;
  
}



/* Questions view styles */

/* default option */
.option-default {
   background-color: #61876E;
   color: #D6CDA4; 
}

.option-default div:nth-child(1) {
    @apply hidden;
}

.option-default div:nth-child(2) div:nth-child(1){
    @apply inline;
    color:#D6CDA4;
}

/* wrong option */
.option-wrong {
    @apply !bg-red-500 cursor-pointer; 
}

.option-wrong div:nth-child(1) {
    @apply hidden;
}

.option-wrong div:nth-child(2) div:nth-child(1){
    @apply inline;
    color: #D6CDA4;
}

/* correct option */
.option-correct {
    @apply !bg-green-500;
    color: #D6CDA4;
}
.option-correct div:nth-child(1) {
    @apply inline animate-bounce;
}

.option-correct div:nth-child(2) div:nth-child(1){
    @apply inline;
    color:#D6CDA4;
}
/* HomeView styles */
.main-wrapper {
    background-color: #61876E;
}

.side-bar {
    background-color: #3C6255;
}

.home-footer {
    background-color: #3C6255;
}

.home-footer>h6 {
    text-align: center;
}

.text-wrapper>p {
    color: white;
    margin-left: 20px;
    font-family: Roboto-bold;
}

.quote {
    font-family: Roboto-Light;
    margin-top: 16px;
    font-size: smaller;
    font-weight: 100;
    margin-left: 20px;
    color: #D6CDA4;
}

.select-catagory {
    color: #D6CDA4;
    font-size: 25px;

    font-family: Roboto-Light;
}

.card:hover {
    outline: 0;
    z-index: 10;
    transition: var(--transition);
    background-color: transparent;
}

.card-title {
    background-color: #3C6255;
    color: #D6CDA4;
    font-size: medium;
    font-family: Roboto-Thin;
    font-weight: bold;
    overflow-x: scroll;
}

.by {
    font-family: Roboto-Thin;
    font-size: 14px;
    font-weight: lighter;
    margin-left: 20px;
}

/* Countdown overlay */body {
	background: #000;
}


/* Questions Page styles */
.Questions_wrapper {
    @apply flex h-screen;
    background-color: #111f16;
}

.question{
    font-size: 30px;
    font-family: Roboto-Bold;
    color: #D6CDA4;

}