/* fonts */
@font-face {
    font-family: Roboto-bold;
    src: url(../font/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-italic;
    src: url(../font/Roboto-Italic.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(../font/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Thin;
    src: url(../font/Roboto-Thin.ttf);
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: #3C6255;
}

::selection {
    color: white;
    background: #5c9b85;
}

/* custom styles here */

.countdown-wrapper {
    @apply w-screen h-screen absolute z-30 bg-opacity-100 flex flex-col justify-center items-center bg-blend-screen;

    background-image: url(../images/quiz_back.png);
    background-size: cover;
}

.score_container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px;
    @apply shadow-md;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(14, 174, 87, 1) 0%, rgba(12, 116, 117, 1) 90%);
}

.score_text {
    font-family: Roboto-Bold;
    font-size: 35px;
    color: #D6CDA4;
    text-align: center;
}

.score {
    font-family: Roboto-Bold;
    font-size: 40px;
    color: #D6CDA4;
    text-align: center;
}



.timer_container {
    position: absolute;
    top: 0;
    right: auto;
    padding: 30px;
    @apply shadow-md;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(14, 174, 87, 1) 0%, rgba(12, 116, 117, 1) 90%);
}

.timer_text {
    font-family: Roboto-Bold;
    font-size: 35px;
    color: #D6CDA4;
    text-align: center;
}

.time_left {
    font-family: Roboto-Bold;
    font-size: 40px;
    color: #D6CDA4;
    text-align: center;
    @apply animate-pulse;
}

.get-ready {
    font-size: 30px;
    font-family: Roboto-Bold;
    color: #D6CDA4;
    text-align: center;
}

.countDown {
    font-size: 150px;
    font-weight: bolder;
    font-family: Roboto-Bold;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #252b2700;
    color: #D6CDA4;
    border-radius: 10px;

}



/* Questions view styles */

/* default option */
.option-default div:nth-child(1) {
    @apply hidden;
}


.option-default {
    background-image: linear-gradient(102deg, rgba(68, 110, 92, 1) 49.3%, rgba(68, 110, 92, 1) 83.4%, rgba(68, 110, 92, 1) 110.3%);
    font-size: larger;
    color: white;
    font-family: Roboto-light;
    @apply rounded-lg hover:drop-shadow-lg h-full w-full flex items-center justify-center cursor-pointer pl-6 relative;
}



.congratualtion {
    @apply text-center animate-pulse delay-1000 rounded-md px-10 py-3;
    color: whitesmoke;
    font-size: 35px;
    font-family: Roboto-Bold;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

}

.not_bad {
    @apply text-center animate-pulse delay-1000 rounded-md px-10 py-3;
    color: #3C6255;
    font-size: 35px;
    font-family: Roboto-Bold;
    background-image: radial-gradient(circle 489px at 49.3% 46.6%, rgba(255, 214, 126, 1) 0%, rgba(253, 200, 0, 1) 100.2%);
}
.bad {
    @apply text-center animate-pulse delay-1000 rounded-md px-10 py-3;
    color: whitesmoke;
    font-size: 35px;
    font-family: Roboto-Bold;
    background-image: linear-gradient( 106.9deg,  rgba(148,14,60,1) 60.9%, rgba(3,22,27,1) 122.3% );
}

.percent_score {
    font-size: 30px;
    color: #D6CDA4;
    font-family: Roboto-Bold;
}

.done {
    @apply w-fit px-10 mx-5 py-2 rounded-md hover:drop-shadow-lg font-bold cursor-pointer;
    background-image: linear-gradient(106.9deg, rgba(148, 14, 60, 1) 60.9%, rgba(3, 22, 27, 1) 122.3%);
    font-size: 20px;
    color: #D6CDA4;
    text-align: center;
}

.overlay-container {
    @apply w-screen h-screen absolute z-30 flex justify-center items-center rounded-3xl shadow-xl;
    background-image: linear-gradient(102deg, rgba(68, 110, 92, 1) 49.3%, rgba(68, 110, 92, 1) 83.4%, rgba(68, 110, 92, 1) 110.3%);
}

.try_again {
    @apply w-fit px-10 py-2 rounded-md hover:drop-shadow-lg font-bold cursor-pointer;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(14, 174, 87, 1) 0%, rgba(12, 116, 117, 1) 90%);
    font-size: 20px;
    text-align: center;
    color: #D6CDA4;
}

/* wrong option */
.option-wrong {
    background-image: linear-gradient(178.2deg, rgba(118, 8, 23, 1) 10.9%, rgba(158, 12, 33, 1) 62.6%);
    @apply cursor-pointer;
    font-weight: bold;
}

.option-wrong div:nth-child(1) {
    @apply hidden;
}

.option-wrong div:nth-child(2) div:nth-child(1) {
    @apply inline;
    color: #D6CDA4;
}

/* correct option */
.option-correct {
    background-color: greenyellow;
    color: #D6CDA4;
    font-weight: bold;

}

.correction {
    @apply rounded-lg hover:drop-shadow-lg h-full w-full flex items-center justify-center cursor-pointer pl-6 relative;
    color: #D6CDA4;
    font-weight: bold;
    background-color: #1D976C;


}

.wait {
    @apply font-bold mt-4 text-center;
    font-size: 18px;
    color: #D6CDA4;
    font-family: Roboto-Light;
}

.correction div:nth-child(1) {
    @apply hidden;
}

.correction div:nth-child(2) div:nth-child(1) {
    @apply inline;
    color: #D6CDA4;
}


.option-correct div:nth-child(1) {
    @apply inline animate-pulse shadow-lg p-1 transform w-20 h-full text-white font-bold absolute right-0 top-0 flex justify-center items-center;
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);

}

.option-correct div:nth-child(2) div:nth-child(1) {
    @apply inline;
    color: #D6CDA4;
}

/* HomeView styles */
.main-wrapper {
    background-color: #61876E;
}

.side-bar {
    background-color: #d6cda4;
    background-image: linear-gradient(137deg, #d6cda4 0%, #61876e 37%, #3c6255 100%);

}

.my-link {
    @apply mb-1 text-start absolute bottom-5 ml-5;
    font-family: Roboto-Light;
    color: white;
    font-size: 16px;
}

.mysite_link {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(14, 174, 87, 1) 0%, rgba(12, 116, 117, 1) 90%);
    color: #D6CDA4;
    @apply px-2 py-1 rounded-md font-semibold;
}

.home-footer {
    background-color: #3C6255;
}

.home-footer>h6 {
    text-align: center;
}

.text-wrapper>p {
    color: white;
    margin-left: 20px;
    font-family: Roboto-bold;
}

.quote {
    font-family: Roboto-Light;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 100;
    margin-left: 20px;
    color: #D6CDA4;
}

.select-catagory {
    color: #D6CDA4;
    font-size: 25px;

    font-family: Roboto-Light;
}

.card:hover {
    outline: 0;
    z-index: 10;
    transition: var(--transition);
    background-color: transparent;
}

.card-title {
    background-color: #3C6255;
    color: white;
    font-size: medium;
    font-family: Roboto-Thin;
    font-weight: bold;
    overflow-x: scroll;
}

.by {
    font-family: Roboto-Thin;
    font-size: 14px;
    font-weight: lighter;
    margin-left: 20px;
}

/* Countdown overlay */
body {
    background: #000;
}


/* Questions Page styles */
.Questions_wrapper {
    background-color: #3C6255;
}

.timer {
    font-size: large;
    color: white;
    font-family: Roboto-Bold;

}

.question {
    font-size: 30px;
    font-family: Roboto-Light;
    color: #D6CDA4;

}

.questionCounter {
    font-size: 40px;
    font-family: Roboto-Bold;

}


body::-webkit-scrollbar {
    width: .5em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #61876E;
}

body::-webkit-scrollbar-thumb {
    background-color: #5c9b85;
    outline: 1px solid #3C6255;
}